extends layout

block main
  if name
    main
      h1 Welcome #{name}!
      form(class="form" action="/logout")
        .submit-buttons
          input(class="submit-button" type="submit" value="Logout")
  else
    main
      h1 Hello Stranger!
      form(class="form" action="/login")
        .submit-buttons
          input(class="submit-button" type="submit" value="Log in")
          input(class="submit-button" type="submit" value="Sign up" formaction="/signup" formmethod="GET")
