doctype html
html(lang='en')
  head
    title HTTP Auth
    link(rel="stylesheet" type="text/css" href="/static/styles.css")
  body
    include includes/header.pug
    block main
  footer
    include includes/footer.pug