extends layout

block main
  form(class="form" method="POST" action="/login")
    .input
      input(class="input-field top-field" type="text" placeholder="Username" name="name")
    .input
      input(class="input-field bottom-field" type="text" placeholder="Password" name="password")
    .submit-buttons
      input(class="submit-button" type="submit" value="Log in")
      input(class="submit-button" type="submit" value="Sign up" formaction="/signup" formmethod="GET")