* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial;
}
html{
  height: 100%;
}

body{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pagewrap{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
  justify-content: space-around;
}

.background-gradient{
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(#38597F , #1C2D43);
}


header,footer,main{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}

header{
  flex: .5;
}

main, footer{
  flex: 1;
}

h1{
  display: flex;
  margin: auto;
  color:white;
  text-shadow: 2px 2px 4px #000000;
  padding-bottom: .5em;
}

header, footer{
  color:white;
  text-shadow: 2px 2px 4px #000000;
}

.form{
  display: flex;
  flex-direction: column;
  padding-top: .4em;
}

.input{
  display: flex;
  margin: auto;
}

.input-field{
  padding: 1em;
  height: 2.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.top-field{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.middle-field{
  border-radius: 0px;
}

.bottom-field{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.submit-buttons{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 1em;
}

.submit-button{
  color: white;
  border-top: 1px solid #8BBDE3;
  border-bottom: 1px solid #1E2F41;
  border-left: 1px solid #1E2F41;
  border-right: 1px solid #1E2F41;
  background-color: #4E86B6;
  box-shadow: 3px 3px 3px #152032;
  border-radius: 5px;
  width: 6.8em;
  height: 2em;
}

.errorMessage{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}